table {
  border: 1px solid brown;
  background-color: white;
  border-radius: 25px;
  border: 2px solid brown;
  padding: 20px;
  width: 200px;
  height: 150px;
}

td {
  border: 1px solid brown;
  background-color: white;
}
body {
  width: 90% ;
  margin: 0 auto;
}


h1 {
  text-align: center;
  background-color: white;
  border-style: solid hidden solid hidden;
  border-color: brown;

}
